doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(type='text/javascript', src='https://skyway.io/dist/0.3/peer.min.js')
    script(type='text/javascript', src='https://skyway.io/dist/multiparty.min.js')

    script(type='text/javascript', src='/javascripts/three.min.js')
    script(type='text/javascript', src='/javascripts/Stats.js')
    script(type='text/javascript', src='/javascripts/MathAnamor.js')
    script(type='text/javascript', src='/javascripts/AnamorClass.js')
    script(type='text/javascript', src='/javascripts/StageClass.js')

    <style> video { width:200px; } </style>
  body
    block content
